@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

/* colour palette */
:root {
  --bgBlue: #edead0;
  --darkBlue: #1e9292;
  --lightBlue: #aedcdc;
  --darkText: #156666;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background */
html {
  height: 100vh;
  width: 100vw;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    152deg,
    rgba(34, 193, 195, 1) 25%,
    rgba(7, 119, 115, 1) 88%
  );
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  background: white;
  margin: 50px auto;
  max-width: 800px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: var(--darkText);
  overflow: hidden;
  padding: 50px 0;
}

.header {
  padding: 20px;
}

/* nav bar - metric choice */
.nav-weather-option {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 20px 0;
}

.weather-option {
  flex: 1;
  text-align: center;
  position: relative;
}

.weather-option-label {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--darkBlue);
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px;
  width: 100%;
  border-bottom: 5px solid transparentize(var(--lightBlue), 1);
}

.app-nav__input {
  opacity: 0;
  position: absolute;
  left: -1000px;
}
.app-nav__input:checked + label {
  color: var(--lightBlue);
  cursor: inherit;
  border-bottom: 5px solid var(--lightBlue);
}

/* city choice drop-down */
.cityInput {
  border: none;
  background: transparentize(var(--lightBlue, 0.9));
}

/* Current City temperature section */
section.currentDetails {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

p.currCity {
  font-size: 1.5em;
  padding: 10px;
  margin: 0;
}

p.desc {
  font-size: 1em;
  margin: 0;
  color: grey;
}

section.TempRange {
  width: 40vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

p.minTemp,
p.maxTemp {
  font-size: 1.5em;
  color: grey;
}

p.currTemp {
  font-size: 3em;
  padding: 0 20px;
}

/* Graph section */
.graph {
  padding-top: 20px;
}
